// COLORS
$color-teal:         #007984;
$color-teal-dark:    #0D4C5F;
$color-teal-darker:  #003B4D;
$color-red:          #F05E61;

// GREYS
$color-black:        #000000;
$color-ink:          #292826;
$color-grey-darkest: #2D2D2D;
$color-grey-dark:    #4B4B4B;
$color-grey:         #919191;
$color-grey-light:   #d7d7d7;
$color-white:        #FFFFFF;

// GRADIENTS


// TYPOGRAPHY
$font-r:   roboto-condensed, sans-serif;
$font-cs:  calluna-sans, sans-serif;
$font-ips: ibm-plex-serif, sans-serif;

$font-family-heading: $font-r;
$font-family-text:    $font-cs;
$font-family-accent:  $font-ips;

$font-weight-heading: 400;
$font-weight-text: 300;
$font-weight-accent: 300;

$line-height-base: 1.33;

// SIZES
// Use these to specify fixed size elements
$container-max-width: 1280px;
$responsive-medium:   1024px;
$responsive-small:    640px;

// SPACING
// Use these variables for padding & margin
$s-xxxl:128px;
$s-xxl: 64px;
$s-xl:  48px;
$s-l:   32px;
$s-m:   24px;
$s-b:   16px;
$s-s:   8px;
$s-xs:  4px;
$s-xxs: 2px;

// MIXINS
@mixin rc-small-caps {
  font-family: $font-ips;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
